.flexbox
    .recipie-sidebar
        = render 'recipes_sidebar'

    .recipie-right
        .recipe-content
            %h2
            .recipe-box
                .movie-box
                .button-box
                    .circle
                        .trianglel
                    #rectangle
                    .circle
                        .triangler




















