.flexbox
    .recipie-sidebar
        = render 'recipes_sidebar'

    .recipie-right
        .recipe-content
            %h2
            .recipe-box
                .movie-box
                %img.movie{:src => "https://media.delishkitchen.tv/recipe/167013442081784300/1.jpg"}
                %img.movie{:src => "https://media.delishkitchen.tv/recipe/167023536093790611/1.jpg", :style => "display: none"}
                .button-box
                    .circle
                        .trianglel
                    #rectangle
                    .circle
                        .triangler




















