.recipes-navbar {
    background: #ffffff;
    width: 100%;
    max-height: 60px;

    ul {
        display: flex;
        padding-left: 28px;
        margin: 0;

        li {
            list-style-type: none;
            margin-right: 4px;
            line-height: 60px;
            vertical-align: center;
            color: #212121;
            &:not(:last-child):after {
                content: ">";
                margin-left: 4px;
                margin-right: 4px;
            }
            a {
                color: inherit;
            }
        }
    }
}
