.sidebar-top
    %img.logo{src: "/assets/rempi-logo.png"}
    .sidebar-search
        %input{type: "search", placeholder: "レシピを検索"}

.sidebar-selections
    .no-selection
        %span
            レシピを選択して
            %br
            手際よく簡単に
            %br
            料理してみましょう

.sidebar-start
    .start-button
        料理を始める
